<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBf_cZMamLn-2EAcuJ7sZkb5LyRF6Obpi0</string>
	<key>GCM_SENDER_ID</key>
	<string>970946180137</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.individualAssignment2</string>
	<key>PROJECT_ID</key>
	<string>individual-assignment-2-610c0</string>
	<key>STORAGE_BUCKET</key>
	<string>individual-assignment-2-610c0.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:970946180137:ios:7f5c98e494f4ee8c81d838</string>
</dict>
</plist>